<div class="mt-4">&nbsp;</div>
<div class="container">
    <% patient.appointment.forEach((element)=> { %>
        <div class="row">
            <div class="card text-center p-4 mt-4 h5">
                Date: <%= element.date %>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="card text-center p-4 h5">
                    <div class="h5 m-3">
                        Slot:
                    </div>
                    <div class="h5">
                        <h6>Start time: <%= element.start_time %>
                        </h6>
                        <h6>End time: <%= element.end_time %>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
</div>