<link rel="stylesheet" type="text/css" href="/css/view-appointments.css">
<div class="container text-center" style="overflow-x: hidden;">
    <div class="mt-4">&nbsp;</div>
    <div class="row d-flex justify-content-around">
        <% appointments.forEach((element)=> { %>
            <div class="col-lg-3 col-md-4 col-sm-6 myViewBlock m-2">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <%= element.date %>
                    </div>
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Slot:</h5>
                        <div class="card-text">Start time: <%= element.start_time %>
                        </div>
                        <div class="card-text">End time: <%= element.end_time %>
                        </div>
                    </div>
                    <div class="text-center m-4">
                        <a href="#" type="button" class="btn btn-danger">Delete Slot</a>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
</div>